---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE } from "@/config";
import { useTranslations } from "@/i18n/utils";
import InterpolatedText from "@/components/InterpolatedText.astro";
import LinkButton from "@/components/LinkButton.astro";

const t = useTranslations("cs");

import { projects } from "../../data/projects";
import ProjectCard from "../../components/ProjectCard.astro";
---

<Layout title={`Projekty | ${SITE.title}`} lang="cs">
  <Header />
  <main id="main-content" class="app-layout">
    <section id="projects" class="mb-28 max-w-app">
      <h1 class="mt-8 mb-8 text-2xl font-semibold sm:text-3xl">
        {t("projects.title")}
      </h1>

      <p class="mb-2">{t("projects.description")}</p>
      <p class="mb-8">
        <InterpolatedText text={t("projects.more")}>
          <LinkButton
            slot="github"
            icon="tabler:brand-github"
            href="https://github.com/kasnerz/">Github</LinkButton
          >
        </InterpolatedText>
      </p>

      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
        {projects.map(project => <ProjectCard project={project} lang="cs" />)}
      </div>
    </section>
  </main>
  <Footer />
</Layout>
