---
import ResearchPage from "../../components/ResearchPage.astro";
import LinkButton from "@/components/LinkButton.astro";
---

<ResearchPage lang="cs">
  <p class="mb-4">
    Ve výzkumu hledám způsoby, jak <i>hodnotit generované texty</i> a zajistit, že
    jsou <i>fakticky správně</i>.
  </p>
  <p class="mb-4">
    (Spolu-)pracoval jsem také na projektech týkajících se <i
      >LLM agentů a uvažování</i
    >, <i> generování textu z dat</i>, <i
      >trénování otevřených jazykových modelů</i
    > nebo <i> autonomní navigace na webu </i>.
  </p>
  <p class="mb-4">
    Všechny své publikace mám na <LinkButton
      icon="tabler:school"
      href="https://scholar.google.cz/citations?user=6NnuRB8AAAAJ&hl=cs"
      >Google Scholar</LinkButton
    >. Popisky níže jsou pouze v angličtině.
  </p>
</ResearchPage>
