---
import TeachingPage from "../../components/TeachingPage.astro";
import LinkButton from "@/components/LinkButton.astro";
---

<TeachingPage lang="cs">
  <p class="mb-4">
    Učím o velkých jazykových modelch na univerzitě (MFF UK, ČVUT v Praze).
    Občas taky přednáším na konferencích nebo vedu workshopy. Pokud chcete,
    abych vystoupil na Vaší akci,<LinkButton icon="mdi:person" href="/about"
      >kontaktujte mě!</LinkButton
    >.
  </p>
  <p class="mb-4">
    Vedu také studentské <LinkButton
      icon="mdi:graduation-cap"
      href="https://ufal.mff.cuni.cz/zdenek-kasner#Teaching"
      >závěrečné práce a projekty</LinkButton
    >. V současnosti už mám plnou kapacitu, ale můžete mě zkusit oslovit s
    konkrétním tématem, ideálně osobně.
  </p>
</TeachingPage>
