<script src="{{ site.baseurl }}/static/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="{{ site.baseurl }}/static/js/bootstrap.min.js"></script>
{% if site.allowsearch == true %}
<script src="{{ site.baseurl }}/static/js/super-search.js"></script>
{% endif %}
<script src="{{ site.baseurl }}/static/js/thickbox-compressed.js"></script>
<!-- <script src="{{ site.baseurl }}/static/js/material.min.js"></script> -->
<script src="{{ site.baseurl }}/static/js/main.js"></script>
<script src="{{ site.baseurl }}/static/js/projects.js"></script>