---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index" class="app-layout">
    <section id="hero" class:list={["pt-8 pb-6", "border-b border-border"]}>
      <div class="flex flex-col items-start gap-6 md:flex-row">
        <div class="flex-1 md:w-2/3">
          <h1
            class="my-4 inline-block text-4xl font-bold text-accent sm:my-8 sm:text-5xl"
          >
            Zdeněk Kasner
          </h1>

          <p>Hi, I am Zdeněk /ˈzdɛɲɛk/.</p>
          <p class="mt-2">
            If you are interested in my work, check out my
            <LinkButton
              class="underline decoration-dashed underline-offset-4 hover:text-accent"
              href="/about"
            >
              bio
            </LinkButton> or connect with me via social links.
          </p>
        </div>
        <div class="flex flex-shrink-0 justify-center md:w-1/3 md:justify-end">
          <img
            src="/profile.jpg"
            alt="Zdeněk Kasner"
            class="h-44 w-44 rounded-lg object-cover md:h-56 md:w-56"
          />
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
