---
import ResearchPage from "../components/ResearchPage.astro";
import LinkButton from "@/components/LinkButton.astro";
---

<ResearchPage lang="en">
  <p class="mb-4">
    In my research, I look for ways how can we <i>evaluate generated texts</i> and
    ensure its <i>accuracy</i>.
  </p>
  <p class="mb-4">
    I have also worked or collaborated on projects related to <i
      >LLM agents and reasoning</i
    >, <i> data-to-text generation</i>, <i>pre-training open LLMs</i>, or <i>
      autonomous web navigation
    </i>.
  </p>
  <p class="mb-4">
    You can find all my publications on <LinkButton
      icon="tabler:school"
      href="https://scholar.google.cz/citations?user=6NnuRB8AAAAJ&hl=cs"
      >Google Scholar</LinkButton
    >.
  </p>
</ResearchPage>
