---
import TeachingPage from "../components/TeachingPage.astro";
import LinkButton from "@/components/LinkButton.astro";
---

<TeachingPage lang="en">
  <p class="mb-4">
    I teach about large language models at Charles University and CTU in Prague.
    I also occasionally speak at conferences or lead workshops. If you'd like me
    to speak at your event, <LinkButton icon="mdi:person" href="/about"
      >contact me!</LinkButton
    >.
  </p>
  <p class="mb-4">
    I also supervise student <LinkButton
      icon="mdi:graduation-cap"
      href="https://ufal.mff.cuni.cz/zdenek-kasner#Teaching"
      >theses and projects</LinkButton
    >. I am currently at full capacity, but you can try reaching out with a
    specific topic, preferably in person.
  </p>
</TeachingPage>
