---
import TeachingPage from "../components/TeachingPage.astro";
---

<TeachingPage lang="en">
  <p class="mb-4 text-lg leading-relaxed text-foreground/90">
    I enjoy explaining complex topics in a simple way. Here is a list of my
    courses and other teaching activities.
  </p>
</TeachingPage>
