---
import type { HTMLAttributes } from "astro/types";
import LinkButton from "@/components/LinkButton.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div class:list={["py-6 sm:py-4", "border-t border-border", "items-center"]}>
    <div
      class="my-2 flex flex-col items-center justify-center text-sm whitespace-nowrap text-text-muted sm:flex-row"
    >
      <span>&#169; {currentYear}&nbsp;|&nbsp;Zdeněk Kasner</span>
      <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      <span>
        <LinkButton
          icon="mdi:book-outline"
          href="https://github.com/satnaing/astro-paper"
          >astro-paper theme</LinkButton
        > +
        <LinkButton
          icon="tabler:rocket"
          href="https://fly.io/blog/youre-all-nuts/"
          >LLM agents rocket fuel</LinkButton
        ></span
      >
    </div>
  </div>
</footer>
