---
layout: default
---

{{ content }}

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var imagePopups = document.querySelectorAll('.image-popup');
		var popupOverlay = document.createElement('div');
		popupOverlay.classList.add('popup-overlay');

		imagePopups.forEach(function (popupTrigger) {
			popupTrigger.addEventListener('click', function (e) {
				e.preventDefault();
				var imageUrl = this.getAttribute('data-src');

				var popupContent = document.createElement('img');
				popupContent.src = imageUrl;
				popupContent.alt = 'Full Size Image';
				popupContent.classList.add('popup-content');

				popupOverlay.innerHTML = '';
				popupOverlay.appendChild(popupContent);

				document.body.appendChild(popupOverlay);
				popupOverlay.style.display = 'flex';
			});
		});

		popupOverlay.addEventListener('click', function () {
			popupOverlay.style.display = 'none';
		});
	});
</script>

{% for i in site.data.articles %}

<div class="paper" {% if i.id %} id="{{ i.id }}" {% endif %}>
	<h4><b>{{ i.title }}</b> </h4>

	{% if i.award %}
	<div class="paper-extra">
		<i class="fa fa-award"></i><b> {{ i.award }}</b>
	</div>
	{% endif %}


	<div class="paper-authors">
		<div> <i class="fa fa-user-friends"></i> <i>{{ i.authors }}</i></div>
		<div> <i class="fa fa-paperclip"></i> <i>{{ i.venue }}</i></div>

	</div>

	<div class="container paper-body">
		<div class="col-md-6 paper-desc">
			{{ i.text }}
		</div>
		<div class="col-md-6 paper-img">
			<a href="#" class="image-popup" data-src="/assets/papers/{{ i.img }}">
				<img src="/assets/papers/{{ i.img }}">
			</a>
		</div>
	</div>

	<div class="paper-buttons">
		{% if i.acl %} <a href="{{ i.acl }}" class="btn btn-default" role="button"><i class="fa fa-file-pdf"></i> ACL
			Anthology</a> {% endif %}
		{% if i.arxiv %} <a href="{{ i.arxiv }}" class="btn btn-default" role="button"><i class="fa fa-file-pdf"></i>
			arXiv</a> {% endif %}
		{% if i.pdf %} <a href="{{ i.pdf }}" class="btn btn-default" role="button"><i class="fa fa-file-pdf"></i>
			PDF</a> {%
		endif %}
		{% if i.poster %} <a href="{{ i.poster }}" class="btn btn-default" role="button"><i
				class="fa fa-file-invoice"></i> Poster</a> {% endif %}
		{% if i.website %} <a href="{{ i.website }}" class="btn btn-default" role="button"><i class="fa fa-home"></i>
			Website</a>
		{% endif %}
		{% if i.code %} <a href="{{ i.code }}" class="btn btn-default" role="button"><i class="fa fa-github"></i>
			Code</a>
		{% endif %}
		{% if i.demo %} <a href="{{ i.demo }}" class="btn btn-default" role="button"><i class="fa fa-laptop"></i>
			Demo</a>
		{% endif %}

	</div>
</div>
<hr>
{% endfor %}