---
layout: default
---

{{ content }}
{% for i in site.data.articles %}
<hr>
<div class="paper" {% if i.id %} id="{{ i.id }}" {% endif %}>
	<h4><b>{{ i.title }}</b> </h4>

	{% if i.award %}
	<div class="paper-extra">
		<i class="fa fa-award"></i><b> {{ i.award }}</b>
	</div>
	{% endif %}	


	<div class="paper-authors">
		<div> <i class="fa fa-user-friends"></i> <i>{{ i.authors }}</i></div>
		<div> <i class="fa fa-paperclip"></i> <i>{{ i.venue }}</i></div>
		
	</div>

	<div class="container paper-body">
		<div class="col-md-6 paper-desc">
			{{ i.text }}
		</div>
		<div class="col-md-6 paper-img">
			<img src="/assets/papers/{{ i.img }}">
		</div>
	</div>
	
	<div class="paper-buttons">
		{% if i.acl %} <a href="{{ i.acl }}" class="btn btn-acl" role="button"><i class="fa fa-file-pdf"></i> ACL Anthology</a> {% endif %}
		{% if i.arxiv %} <a href="{{ i.arxiv }}" class="btn btn-arxiv" role="button"><i class="fa fa-file-pdf"></i> arXiv</a> {% endif %}
		{% if i.pdf %} <a href="{{ i.pdf }}" class="btn btn-pdf" role="button"><i class="fa fa-file-pdf"></i> arXiv</a> {% endif %}
		{% if i.poster %} <a href="{{ i.poster }}" class="btn btn-poster" role="button"><i class="fa fa-file-invoice"></i> Poster</a> {% endif %}
		{% if i.code %} <a href="{{ i.code }}" class="btn btn-code" role="button"><i class="fa fa-github"></i> Code</a> {% endif %}
	</div>
</div>

{% endfor %}