---
import { SITE } from "@/config";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Layout from "./Layout.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <main id="main-content" class="app-layout">
    <section id="about" class="app-prose mb-8 max-w-app prose-img:border-0">
      <h1 class="mt-8 mb-6 text-2xl font-semibold sm:text-3xl">
        {t("about.title")}
      </h1>
      <slot />
    </section>
  </main>
  <Footer />
</Layout>
